html {
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	padding: 0;
	background-color: 000000;
	color: ffffff;
}

div.tape {
	float: center;
	text-align: center;
	border-style: inset;
	border-width:thick;
	border-color: ffaa11;
	background-color: bb3300;
	color: 000000;
	margin-left:auto;
	margin-right:auto;
	width: 700px;	
}

div.embed {
	float: center;
	background-color: ffffff;
	color: 000000;
	border-style: outset;
	border-width:medium;
	border-color: ffaa11; 
	width: 400px; 
	height: 50px; 
	white-space: nowrap; 
	overflow: auto;
	margin-left:auto;
	margin-right:auto;	
}

h2 {
	text-align: center;
}

h3 {
	text-align: center;
}